.App{
  text-align: center;
}

table{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
}

table,th, td {
  border: 1px solid #0FBB7F;
  border-collapse: collapse;
}

th{
  background-color: #0FBB7F;
  color: white;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

td{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button{
  color:white;
  background-color: #0FBB7F;
  margin-left: 10px;
  border-radius: 5px;
  border-color: #0FBB7F;
}
